/*  	.caption{
  		width: 150px;
  		float: left;
  		margin-bottom: 5px;
  	}
  	.container{
  		padding: 10px;
  		margin: 10px;
  		width: 70%;
  		border: solid black 1px;
  		min-height: 400px;
  	}
  	.fright{
  		float: right;
  	}
  	.row{
  		width: 80%;
  		height: 30px;
  		padding-bottom: 5px;
  	}
  	.clear{
  		clear: both;
  	}
  	.output{
  		position: relative;
  		left: 20%;
  	}
  	.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
	}*/
  .curs-forbidd {
    cursor: not-allowed !important;
  }